@tailwind base;
@tailwind components;
@tailwind utilities;

#projects, #contact {
  scroll-margin-top: 160px;
}
#about {
  scroll-margin-top: 100px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.arrow-animate::after {
  content: "->";
  position: relative;
  top: 50%;
  right: -4px;
  transform: translateY(-50%);
  transition: right 0.3s ease;
}

.arrow-animate:hover::after {
  right: -14px;
}

